.header__logo {
    color: #f1682c;
}
.navigation__head {
    color: red;
}
.navigation__link__home {
    color: saddlebrown;
}
.navigation__link__aboutme {
    color: yellow;
}
.navigation__link__myworks {
    color: yellowgreen;
}
.navigation__link__contacts {
    color: violet;
}
.section__home_head {
    color: blue;
}
.section__home_paragraph {
    color: chartreuse;
}
.section__paragraph__paragraph {
    color: chocolate;
}
.section__about-me__head {
    color: blue;
}
.section__about-me__paragraph {
    color: navy;
}
.section__my-works {
    color: blue;
}